<!DOCTYPE html>
<title>RavenDB Text Editor</title>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/text-editor.css">
</head>

<body>
    <div class="container">
        <div class="toolbar">
            <label for="filename" id="filename_lbl">Document name:</label>
            <input type="text" placeholder="Filename" value="untitled" id="filename">
            </br>
            </br>
            <label for="files" id="files_lbl">Choose a document:</label>
            <select onchange="fileHandle(this.value); this.selectedIndex=0" name="files" id="files"
                this.selectedIndex=0>
                <option value="" selected="" hidden="" disabled="">File</option>
                <option value="new">New file</option>
            </select>

            <label for="revisions" id="revisions_lbl">Choose a revision:</label>
            <select onchange="revisionsHandle(this.value)" name="revisions" id="revisions" this.selectedIndex=0>
            </select>
            <button type="revert" id="revert_btn" onclick="revert()">Revert</button>
            </br>
            </br>

            <ul class="tool-list">
                <li class="tool">
                    <button type="button" data-command='justifyLeft' class="tool--btn">
                        <i class=' fas fa-align-left'></i>
                    </button>
                </li>
                <li class="tool">
                    <button type="button" data-command='justifyCenter' class="tool--btn">
                        <i class=' fas fa-align-center'></i>
                    </button>
                </li>
                <li class="tool">
                    <button type="button" data-command="bold" class="tool--btn">
                        <i class=' fas fa-bold'></i>
                    </button>
                </li>
                <li class="tool">
                    <button type="button" data-command="italic" class="tool--btn">
                        <i class=' fas fa-italic'></i>
                    </button>
                </li>
                <li class="tool">
                    <button type="button" data-command="underline" class="tool--btn">
                        <i class=' fas fa-underline'></i>
                    </button>
                </li>
                <li class="tool">
                    <button type="button" data-command="insertOrderedList" class="tool--btn">
                        <i class=' fas fa-list-ol'></i>
                    </button>
                </li>
                <li class="tool">
                    <button type="button" data-command="insertUnorderedList" class="tool--btn">
                        <i class=' fas fa-list-ul'></i>
                    </button>
                </li>
                <li class="tool">
                    <button type="button" data-command="createlink" class="tool--btn">
                        <i class=' fas fa-link'></i>
                    </button>
                </li>
                <li class="tool">
                    <button onclick="save()" type="button" id="save-btn" class="tool--btn">
                        <i class=' fas fa-save'></i>
                    </button>
                </li>
            </ul>
        </div>

        <div id="output" contenteditable="true"></div>

    </div>
    <script type='text/javascript' src="../static/scripts/text-editor-script.js"></script>
</body>

</html>